body {
    background-color: lightskyblue;
}
h1 {
    font-size: 30px;
    color: slateblue;
}
h2 {
    font-size: 20px;
    color: salmon;
}

.lil-bro {
    font-size: 10px;
    color: pink;
}

span{
    color: violet;
    font-family: serif;
}